@import "./reset.css";

/* Body and Main elements */
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

body {
    background-color: #1a1d28;
    background-image: url("../image/gameBG.jpg");
    background-size: cover;
}

/* Main */

main {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.txt {
    padding: 20px;
    height: 450px;
    width: 60vw;
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

/* Dialogs */

dialog {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    user-select: none; 
    animation: 0.25s linear anim;
    z-index: 1;
}

dialog::backdrop {
    background: rgba(13, 16, 19, 0.1);
    backdrop-filter: blur(10px);
}

label {
    font-weight: bold;
}

@keyframes anim {
    from {
        opacity: 0;
        translate: 0 -8px;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}

/* Dialog 1 */

.dlg1Btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#acceptBtn, #settingsBtn {
    width: 100px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
}

#acceptBtn {
    background-color: #D61092;
    color: #fff;
}

#settingsBtn {
    border: 3px solid #D61092;
    background-color: #fff;
    color: #D61092;
}

/* Dialog 2 */

.dlg2 p {
    line-height: 30px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 100ms;
}

.switch::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

.switch:checked {
    border-color: #ff00aa;
    box-shadow: inset 20px 0 0 0 #ff00aa;
}

.switch:checked::after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

.dlg2Btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#preferencesBtn {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #D61092;
    color: #fff;
}